<s_jamp> gamedata/music/sound/jamp.wav
<s_event> gamedata/music/sound/event-1.wav
<s_event-2> gamedata/music/sound/event-2.wav
<s_uron> gamedata/music/sound/uron-1.wav
<s_uron-1> gamedata/music/sound/uron.wav
<s_live_max> gamedata/music/sound/live_max.wav
<s_walk> gamedata/music/sound/walk.wav
<s_game_over> gamedata/music/sound/game_over.wav
<s_game_close> gamedata/music/sound/game_close.wav
<s_repl> gamedata/music/sound/repl.wav
